
  <div class="card-service shadow-sm">
    <div class="card-service-icon-wrapper card-service-icon-wrapper--green"><%= image_tag('service-icons/gardening.svg', width: 48) %></div>
    <div class="card-service-description-wrapper">Jardinage</div>
  </div>

  <br>

  <div class="card-service shadow-sm">
    <div class="card-service-icon-wrapper card-service-icon-wrapper--blue"><%= image_tag('service-icons/shopping.svg', width: 48) %></div>
    <div class="card-service-description-wrapper">Courses</div>
  </div>

  <br>

  <div class="card-service shadow-sm">
    <div class="card-service-icon-wrapper card-service-icon-wrapper--brown"><%= image_tag('service-icons/pet-walking.svg', width: 48) %></div>
    <div class="card-service-description-wrapper">Promenade</div>
  </div>

  <br>

  <div class="card-service shadow-sm">
    <div class="card-service-icon-wrapper card-service-icon-wrapper--purple"><%= image_tag('service-icons/crafting.svg', width: 48) %></div>
    <div class="card-service-description-wrapper">Bricolage</div>
  </div>

  <br>

  <div class="card-service shadow-sm">
    <div class="card-service-icon-wrapper card-service-icon-wrapper--pink"><%= image_tag('service-icons/cooking.svg', width: 48) %></div>
    <div class="card-service-description-wrapper">Cuisine</div>
  </div>
