<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="top-nav navbar">
    <%# BACK BTN %>
    <%= link_to url_for(:back) do %>
    <div class="button-back"><i class="fas fa-chevron-left"></i></div>
    <% end %>
    
    <%# LOGO %>
    <%= link_to root_path, class: "navbar-logo" do %>
      <%= image_tag('service-icons/main_logo.svg') %>
    <% end %>

    <%# BTN MENU %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="navbar-icon"><i class="fas fa-bars"></i></div>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Recherche", edit_seeker_offered_services_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Mes demandes", seeker_housing_requests_path, class: "nav-link" %>
        </li >
        <li class="nav-item">
          <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
