<div class="d-flex pb-5">
  <div class="w-50">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>My pending requests</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <% @pending.each do |housing_request| %>
        <div class="row">
          <div class="col">
            <div class="card-index my-2 w-100">

              <div class="h-100 w-25 card-image-2" style="background-image: url('<%= cl_image_path housing_request.room.summary, crop: :fill, height: 200, gravity: :face  %>');">

              </div>

              <div class="w-100 h-100 p-2">
                <div class="card-product-infos d-flex flex-column justify-content-between h-100">
                  <div class="w-100 h-100 d-flex justify-content-between align-items-center">
                    <div>
                      <h2><%= housing_request.room.title %> <span class="flag-icon flag-icon-<%= housing_request.room.title %>"></span></h2>
                    </div>
                    <div>
                      <p class="d-inline-block price"> <%= housing_request.room.summary %></p>
                    </div>
                  </div>
                  <div>
                    <p class="info"> Renting asked between<strong><%= housing_request.room.summary %></strong> and <strong></strong></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center pt-4">
                    <p class="card-status pt-3"> <%= real_status(housing_request.status) %></p>
                    <div class="pr-2">
                      <%= link_to "Accepter", accept_host_housing_request_path(housing_request), method: :patch, class: "btn btn-primary" %>
                      <%= link_to "Refuser", decline_host_housing_request_path(housing_request), method: :patch, class: "btn btn-danger" %>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="w-50">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>My confirmed requests</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <% @accepted.each do |housing_request| %>
        <div class="row">
          <div class="col">
            <div class="owner-card-product my-2 w-100">
              <div class="h-100 w-25 card-image-2" style="background-image: url('<%= cl_image_path housing_request.room.picture.key, crop: :fill, height: 200, gravity: :face  %>');">
              </div>

              <div class="w-100 h-100 p-2">
                <div class="card-product-infos d-flex flex-column justify-content-between h-100">
                  <div class="w-100 h-100 d-flex justify-content-between align-items-center">
                    <div>
                      <h2><%= housing_request.room.description %> <span class="flag-icon flag-icon-<%= housing_request.room.status%>"></span></h2>
                    </div>
                    <div>
                      <p class="d-inline-block price"><%= housing_request.room.summary %></p>
                    </div>
                  </div>
                  <div>
                    <p class="info"> Renting asked between <strong><%= housing_request.room.summary %></strong></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center pt-4">
                    <p class="card-status pt-3"> <%= real_status(housing_request.status) %></p>
                    <div class="pr-2">
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
