<div class="container d-flex flex-column h-100 py-3">

<div class="image d-flex flex-column h-100">


<%= image_tag('service-icons/main_logo.svg') %>
</div>

<div class="host-1 flex-grow-1">

<div class="container"><%= form_tag seeker_search_infos_path,  method: :patch do %>
  <label for="">Où est-ce que je me trouve?</label>
  <%= text_field_tag "search_infos[address]",
    params.dig(:search_infos, :address),
    class: "form-control"
  %>

  <h5>J'ai besoin d'une chambre pour</h5>

  <% 1.upto(HousingRequest::MAX_NIGHTS_COUNT) do |nights_count| %>
    <div>
      <input class="d-none" type="radio" value="<%= nights_count %>" name="search_infos[nights_count]" id="<%= "search_infos_nights_count_#{nights_count}" %>">
      <label for="<%= "search_infos_nights_count_#{nights_count}" %>" class="card-moon-night">
        <div class="card-moon-night-icon-wrapper"><%= image_tag('moon-stars.svg', width: 48) %></div>
        <%= "Une" if nights_count == 1 %>
        <%= "Deux " if nights_count == 2 %>
        <%= "Trois " if nights_count == 3 %>
        <p class="card-moon-night-description-wrapper pl-1"> nuitée<%= "s" if nights_count > 1 %></p>
      </label>

      <%#= radio_button_tag 'search_infos[nights_count]', nights_count, false, class: "xxx" %>
      <%#= label_tag "search_infos_nights_count_#{nights_count}", "#{nights_count} nuitée(s)" %>
    </div>
  <% end %>


  <%= submit_tag "Valider",  class: "btn btn-gradient btn-block btn-lg mt-3 py-2 px-3" %>

<% end  %>
</div>
