<div class="container">
  <%= link_to "Retour à la recherche", rooms_path %>
  <br>
  <div class="image-tag my-30">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @room.photos.first.key, height: 250, width: 350, class: "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= cl_image_tag @room.photos.second.key, height: 250, width: 350, class: "d-block w-100" %>
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Précédent</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Suivant</span>
      </button>
    </div>
  </div>
  <div class="Description mb-20">
    <div class="text-danger text-right">
      <i class="fas fa-2x fa-map-marker-alt"></i>
      <%= "1.8 Km" %>
    </div>
    <div class="mt-20 title-summary">
      <h4><%= @room.title %></h4>
        <br>
        <br>
      <h5 class="text-dark"><%= @room.summary %></h5>
    </div>
    <div class="text-center mb-50">
      <% if @room.has_tv %>
        <i class="fas fa-2x fa-tv"></i>
      <% end %>
      <% if @room.has_internet %>
        <i class="fas fa-2x fa-wifi"></i>
      <% end %>
      <% if @room.has_books %>
        <i class="fas fa-2x fa-book"></i>
      <% end %>
      <% if @room.has_personal_bathroom %>
        <i class="fas fa-2x fa-sink"></i>
      <% end %>
    </div>
  </div>
    <br>
    <br>
    <%= link_to "Effectuer la demande", seeker_room_housing_requests_path(@room), method: :post, class: "btn btn-gradient btn-block btn-lg" %>
</div>
