<div class="services-container container mt-5">
  <div class="d-flex flex-column h-100">
    <h4>Les services que je peux rendre</h4>

    <%= simple_form_for @user, url: seeker_offered_services_path do |f| %>
      <%#= f.input :services, as: :check_boxes, collection: ["Jardinage", "Courses", "Bricolage", "Cuisine", "Animaux"], include_hidden: false %>
      <div class="d-flex flex-column h-100">
        <div class="flex-grow-1">
          <div class="row">
            <% User::SEEKER_SERVICES.each do |service| %>
              <div class="form-check col-12">
                <input class="form-check-input is-valid check_boxes optional d-none" type="checkbox" value="<%= service %>" name="user[services][]" id="user_services_<%= service.downcase %>">
                <label for="user_services_<%= service.downcase %>" class="card-service card-service--<%= service_name_to_skill(service) %> flex-grow-1 shadow">
                  <div class="card-service-icon-wrapper card-service-icon-wrapper--<%= service_name_to_skill(service) %>"><%= image_tag("service-icons/#{service_name_to_skill(service)}.svg") %></div>
                    <div class="d-flex infos-services">
                      <div class="card-service-description-wrapper"><%= service %></div>
                      <i class="fas fa-check"></i>
                    </div>
                </label>
              </div>
            <% end %>
          </div>
        </div>
        <div>
          <%= f.submit "Suivant", class: "btn btn-gradient btn-block btn-lg my-3" %>
        </div>
      </div>
    <% end %>
  </div>
</div>



