<div class="container host-create d-flex flex-column py-3">
  <div class="host-1 flex-grow-1">
    <%= simple_form_for @room, url: host_rooms_path, method: :post do |f| %>
      <%# Desc %>
      <div class="page-1 h-100">
        <%= f.input :title, label: "Titre" %>
        <%= f.input :summary, as: :text, :input_html => { :rows => 5 }, label: "Description"%>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>

        <div class="ca">
          <div class ="cont-icone d-flex justify-content-center">
            <i style="font-size:2em; color:#FE5E41;" class="align-self-center fas fa-plus"></i>
          </div>
          <h1 class="pt-2">Ajouter une photo?</h1>
          <div class="d-flex">
            <h2 class="bu" style="font-size:1em;">Une photo de votre demeure est un signe de crédibilité</h2>
          </div>
        </div>
        
      </div>
      <%# Equipements %>
      <div class="page-2 h-100">

      </div>
      <%# Nuits %>
      <div class="page-3 h-100">

        <%= f.submit "Valider", class: "btn btn-gradient btn-block btn-lg mt-5" %>
      </div>
    <% end %>
  </div>

  <div class="pb-3  container">
  </div>
</div>

<%= render "host/rooms/night" %>
<%= render "host/rooms/equipements" %>